<style type="text/css">
  #main-wrapper {
    margin-top: 40px;
  }

  .fake-piskelapp-header {
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    background: black;
    color: tomato;
    z-index: 100;
  }

  .piskel-name.piskel-name-saving {
    color: red;
  }

  .piskel-logo {
    float: left;
    text-decoration: none;
    color: tomato;
  }

  #piskel-name-input {
    font-size: 24px;
    background-color: tomato;
    color: white;
    width: 200px;
  }
</style>
<div class="fake-piskelapp-header">
  <a href="index.html" class="piskel-logo">PISKEL</a>


  <span class="piskel-name"></span>
  <input id="piskel-name-input" placeholder="test" />
  <!-- add input here-->
</div>