<script type="text/template" id="templates/dialogs/piskelinfo.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      PISKEL Info
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content">
      
      <p>PIXEL is a simple online pixel editor based on <a href="https://github.com/piskelapp/piskel" target="_blank"> PISKEL Editor</a> from Julian Descottes.</p>

      <ul id="">
        <li><a href="https://github.com/piskelapp/piskel" target="_blank">Original PISKEL GitHub repository</a></li>
        <li><a href="https://github.com/Sulkar/piskel" target="_blank">Custom fork GitHub repository</a></li>
        <li><span id="">Info:</span> r.scheglmann@gmail.com</li>
      </ul>

    </div>
  </div>
</script>