/************************************************************************************************/
/* piskelinfo dialog                                                                   */
/************************************************************************************************/

#dialog-container.piskelinfo {
  width: 600px;
  height: 260px;
  top : 50%;
  left : 50%;
  position : absolute;
  margin-top: -130px;
  margin-left: -300px;
}

.piskelinfo .dialog-content {
  font-size:1.5em;
  line-height: 1.5;
  letter-spacing: 1px;
  padding:10px 20px;
  overflow: auto;
}

